.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  
  .login-box {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  .login-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .input-group label {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    color: #555;
  }
  
  .input-group input {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
  }
  
  .login-button {
    background: #1a1a1a;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease;
  }
  
  .login-button:hover {
    background: #000;
  }
  
  .signup-button {
    background: #ddd;
    color: rgb(167, 162, 162);
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
    transition: background 0.3s ease;
  }
  
  .signup-button:hover {
    background: #bbb;
  }
  